html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Calculator App
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Nova+Mono" rel="stylesheet")
  link(href='index.css', rel='stylesheet')
body
  br
  br
  br
  br
  br
  br
  br
  .container
    .text-center
      h1 Calculator App
    br
    br
    #calculator.text-center
      .calcOutput
        #steps 0
      br
      a#deleteAll.btn.btn-danger AC
      a#backOne.btn.btn-danger CE
      a.btn.btn-primary(id='/') /
      a.btn.btn-primary(id='*') *
      br
      a#7.btn.btn-primary 7
      a#8.btn.btn-primary 8
      a#9.btn.btn-primary 9
      a#-.btn.btn-primary -
      br
      a#4.btn.btn-primary 4
      a#5.btn.btn-primary 5
      a#6.btn.btn-primary 6
      a.btn.btn-primary(id='+') +
      br
      a#1.btn.btn-primary 1
      a#2.btn.btn-primary 2
      a#3.btn.btn-primary 3
      a.btn.btn-primary(id='.') .
      br
      a#0.btn.btn-primary.bigButton 0
      a#total.btn.btn-primary.bigButton =

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(type='text/javascript', src='index.js')
