html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Calculator App
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
  link(href='index.css', rel='stylesheet')
body
  .text-center
    h1 Calculator App
  .calcOutput
    #steps 0
  .text-center
    #calculator
    a.btn.btn-danger#deleteAll AC
    a.btn.btn-danger#backOne CE
    a.btn.btn-primary#divide /
    a.btn.btn-primary#multiply *



  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
  script(type='text/javascript', src='index.js')